<header>
  <h1>To-do list</h1>
  <form method="post" action="" class="subform">
    <p class="nameoflist">
      <input type="submit" value="Add product" (click)="onClickAdd()">
      <input [(ngModel)]="newProductName" type="text" name="name" id="name">
    </p>
  </form>
</header>

<ul id="myUL">
  <li [class.checked]="product.isChecked" *ngFor="let product of products" >
    <div (click)="onClickCheck(product)">{{product.name}}</div>
    
    <span class="close" (click)="onClickDelete(product.id)">×</span>
  </li>
  
</ul>